.demo-full-width {    
    width: 100%;    
}    
    
body {    
    margin: 0;    
    font-family: Roboto, sans-serif;    
}    
    
mat-card {    
    text-align: -webkit-center;
    max-width: 80%;    
    margin: auto;    
    text-align: center;
    padding: 0;    
}    
    
.content-center {    
    text-align: -webkit-center;    
}    



.col-md-4{
    padding-left: 0;
    padding-right: 0px;
}

.FormContainer{
    margin: 20px;
}
.FormContainer h2{
    text-align: center;
    color: #0E054D;
    font-size: 2em;
    font-weight: bold;
}
.FormContainer h5{
    text-align: center;
    color: #A4A2BC;
    font-size: 1em;
    margin-bottom: 30px;
    
}