



.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }











.mat-card {    
    text-align: -webkit-center;    
}    
    
.demo-toolbar {    
    display: flex;    
    align-items: center;    
    width: 100%;    
}    
    
.demo-form {    
    min-width: 150px;    
    max-width: 500px;    
    width: 100%;    
}    
    
.demo-full-width {    
    width: 100%;    
}    
    
body {    
    margin: 0;    
    font-family: Roboto, sans-serif;    
}    
    
mat-card {    
    max-width: 80%;    
    margin: 2em auto;    
    text-align: center;    
}    
    
mat-toolbar-row {    
    justify-content: space-between;    
}    
    
.done {    
    position: fixed;    
    bottom: 20px;    
    right: 20px;    
    color: white;    
}    
    
.content-center {    
    text-align: -webkit-center;    
}    











































.FormContainer{
    margin: 20px;
}

.FormContainer h2{
    text-align: center;
    color: blue;
    font-size: 2em;
    font-weight: bold;

}

.FormContainer h5{
    text-align: center;
    color: gray;
    font-size: 1em;
    font-weight: lighter;
    margin-bottom: 30px;
    
}